<mat-card *ngFor="let picture of pictures">
    <mat-card-subtitle>
      {{picture.title}}
    </mat-card-subtitle>

    <img mat-card-image [src]="picture.thumbnailUrl">

    <mat-card-content>
      <p>Album Id: {{picture.albumId}}</p>
    </mat-card-content>

    <mat-card-actions>

      <a mat-button mat-raised-button color="primary" [href]="picture.url" target="_blank">
        Show Image
      </a>

      <button mat-button mat-flat-button color="primary" (click)='click()'>
        Click!
      </button>

    </mat-card-actions>
</mat-card>