<mat-sidenav-container class="sidenav-container">
  <!--navegación lateral-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/quiensoy">Quién soy</a>
     <!-- <a mat-list-item href="#">Anagrama</a>
      <a mat-list-item href="#">Piedra Papel Tijera</a>
      <a mat-list-item href="#">Agilidad Aritmética</a>
      <a mat-list-item href="#">Adivina el número</a>
      <a mat-list-item href="#">TaTeTi</a>
      <a mat-list-item href="#">Memo Test</a>-->
    </mat-nav-list>
  </mat-sidenav>
<!--navegación -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tp1</span>
    </mat-toolbar>
<!--para ver el contenido de la selección lateral -->
    <router-outlet></router-outlet> 

  </mat-sidenav-content>

</mat-sidenav-container>
